<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
</head>
<body>
    <nav>
        <ul>
            <li>Home</li>
            <li>Add-Product</li>
            <li>Update-product</li>
            <li>Delete-product</li>
            <li>Dark-mode</li>
            <li>Logout</li>
        </ul>
    </nav>
    <h3>Welcome Admin</h3>
</body>
</html>